.carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden;
    display: none;
}
ul{
    display:none
}

.div{
    margin-top:4vh;
    margin-bottom:6vh;
    height: 40vh;
    width: 44vw;
    box-shadow: -15px 0px 50px -12px rgba(0, 0, 0, 0.25);
}
.img{
    width: 35vw;
    height: 40vh;;
}
/* .carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 57%;
    height:40%;
    transition: height .15s ease-in;
} */
@media screen and (max-width:600px){
    .div{
        height: 49vh;
        width: 75vw;
    }
    .img{
        width: 45vw;
        height: 42vh;
    }   
}

@media screen and (max-width:450px){
    .div{
        height: 49vh;
        width: 75vw;
    }
    .img{
        width: 45vw;
        height: 40vh;;
    }   
}