.container1{
    display:flex;
    justify-content:center;
    align-items: center;
    width:80vw
}

@media (max-width:770px){
    .container1{
        width:80vw
    }
}
@media (max-width:450px){
    .container1{
        width:80vw;
        height:52vh
    }
}
